#buttondrop {
  background: #fce0df;
  color: #000;
  margin-right: 5vh;
  margin-bottom: 2vh;
  text-transform: uppercase;
  font-size: 85%;
  /*border-radius: 100em;*/
}

.button-small {
  font-size: 85%;
}

.wait {
  cursor: wait;
}
