#bench-button-drop {
  background: none;
  padding: 10px 10px;
  border: 2px solid #46423d;
  color: #46423d;
  margin-bottom: 2vh;
  text-transform: uppercase;
  font-size: 85%;
  border-radius: 0px;
  font-weight: bold;
  outline: 0px;
}

.wait {
  cursor: wait;
}
