.align-center {
  text-align: center;
}

#bench-button-go {
  border: 0px;
  outline: 0px;
  border-radius: 0px;
}

th {
  border-radius: 200px;
}

.benchmark-selector-btn {
  border-radius: 40px;
  font-size: 70%;
  text-transform: uppercase;
}

.idle {
  -webkit-transition: background 1.0s ease-in-out;
  -ms-transition: background 1.0s ease-in-out;
  transition: background 1.0s;
}

.body-loading {
  background-color: #f0ad60;
  cursor: wait;
}

.body-loaded {
  background-color: #0094d2;
  cursor: auto;
}

.bench-disable {
  background-color: #8c8c8c;
}
