.pure-table-horizontal td,
.pure-table-horizontal th {
  border-bottom: 1em;
  padding: 1em 1em 1em 1em;
}

.bench-table {
  width: 100%;
}

#start-btn {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 4em;
  margin-left: 4em;
}

#error-btn {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 4em;
  margin-right: 4em;
}

.bench-all-checkbox,
.bench-checkbox {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

.l-box {
  padding: 2em;
}

.splash {
  /* absolute center .splash within .splash-container */
  width: 80%;
  height: 50%;
  margin: auto;
  position: absolute;
  text-align: center;
}

.error-table {
  padding: 2em;
  margin:8em;
}
