.bench-all-checkbox,
.bench-checkbox {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
}

.l-box {
  padding-top: 2em;
  padding-right: 2em;
  padding-left: 2em;
  width: 100%;
}

#start-btn {
  background: none;
  padding: 10px 10px;
  border: 2px solid #0094d2;
  color: #0094d2;
  margin-bottom: 2vh;
  text-transform: uppercase;
  font-size: 85%;
  border-radius: 0px;
  font-weight: bold;
  outline: 0px;
}

#main {
  padding-bottom: 60px;
}

.disabled {
  cursor: wait;
  pointer-events: none;
}
