#menu-btn-save,
#menu-btn-clean,
#menu-btn-tasks,
#menu-btn-logout {
  margin-top: 4vh;
  margin-right: 2vh;
  background: #46423d;
  color: #FFF;
  outline: 0px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
