.bench-all-checkbox,
.bench-checkbox {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
}

.bench-box {
  padding-top: 2em;
  padding-right: 2em;
  padding-left: 2em;
  width: 100%;
}

.bench-disabled {
  cursor: wait;
  pointer-events: none;
}

.bench-row-status-idle {
  -webkit-transition: background 1.0s ease-in-out;
  -ms-transition: background 1.0s ease-in-out;
  transition: background 1.0s;
}

.bench-row-status-working {
  background-color: rgba(162, 218, 244, 1);
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    background-color: rgba(162, 218, 244, 0)
  }
}

@-webkit-keyframes blinker {
  50% {
    background-color: rgba(162, 218, 244, 0)
  }
}

@-moz-keyframes blinker {
  50% {
    background-color: rgba(162, 218, 244, 0)
  }
}

.bench-row-status-done {
  background-color: #00aee5;
  cursor: auto;
}

.bench-row-selected-no {
  background-color: #8c8c8c;
  color: #FFF;
}
