#mes {
  background: #F06560;
  color: #FFF;
  display: block;
  margin-top: 2vh;
  margin-right: 2vh;
  padding-right: 2vh;
  padding-left: 2vh;
}

#delete-btn {
  background: #F06560;
  color: #FFF;
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 200%;
}

.glyphicon-exclamation-sign {
  font-size: 200%;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
