#mes {
  background: #F06560;
  color: #000;
  display: block;
  padding-left: 1vh;
  padding-right: 3vh;
  margin-top: 1vh;
}

ul {
  list-style-type: none;
}

ul>li {
  margin-right: 3vh;
}

#delete-btn {
  font-size: 85%;
  background: #F06560;
  color: #FFF;
}
